<div class="container py-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Our beautiful islands</h1>
      
      <div class="mr-2 d-flex align-items-center">
        <%= form_tag islands_path, class:"d-flex justify-content-between mr-2", method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find an island"
          %>
          <%= submit_tag "Search", class: "btn btn-primary ml-1 mr-2" %>
        <% end %>
      <%= link_to "Create new Island", new_island_path, class: 'btn btn-blue ' %>
      </div>
  </div>

  <%# ---------------- Main container start ---------------- %>
  <div class="main-container d-flex ">
    
    <%# ---------------- All islands cards start ---------------- %>
    <div class="row">
      <% @islands.each do |island| %>
        <div class="col-12 col-sm-6 col-md-4 col-lg-6 mb-4">
          <%= link_to island_path(island), class: 'text-decoration-none' do %>
            <% if island.photo.attached? %>
                <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path island.photo.key, height: 300, crop: :fill %>')">
                  <%= island.name %>
                </div>
                
                <% else %>

                <div class="card-category" style="background-image: linear-gradient(rgba(20,20,20,0.3))">
                  <%= island.name%>
                </div>
                
              <% end %>
            <% end %>
        </div>
      <% end %>
    </div>
    <%# ---------------- All islands cards end ---------------- %>
    
    <%# ---------------- Mapbox start ---------------- %>
    <div id="map"
     style="width: 50%; height: 1000px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    <%# ---------------- Mapbox start ---------------- %>

  </div>
  <%# ---------------- Main container end ---------------- %>


</div>