<div class="container mt-2">
  <h1> All Bookings </h1>

  <% @bookings.each do |booking| %>
  <div class="container mt-4">
    <div class="card-product">
      <%= cl_image_tag booking.island.photo.key, height: 300, crop: :fill %>
      <div class="card-product-infos">
        <h2><%= booking.island.name%></h2>
        <p><strong>Total price: </strong> $ <%= ((booking.end_date - booking.start_date).to_i)*booking.island.price %><p>
        <p><strong>Check in: </strong> <%= booking.start_date %></p>
        <p><strong>Check out: </strong> <%= booking.end_date %></p>
      </div>
    </div>
    </div>
  <%end%>
  <div class="m-4">
  <%= link_to "Back", islands_path, class: 'btn btn-primary btn-lg' %>
  </div>
</div>
