<h1>Book an island<h1>

<p> <%= current_user.name %></p>
<%= simple_form_for [@island, @booking] do |f| %>
  <%= f.association :island%>
  <%= f.input :start_date, as: :date, html5: true %>
  <%= f.input :end_date, as: :date, html5: true %> 
  <%= f.submit 'Book', class: "btn btn-default btn-primary"  %>
<% end %>

<%= link_to "back", new_island_booking_path, class: 'btn btn-primary' %>