<h1><%= @island.name %></h1>

<div class='card'>
<p>
  <strong>Price: </strong> $<%= @island.price %><br />
  <strong>Start date: </strong> <%= @booking.start_date.to_s %><br />
  <strong>End date: </strong> <%= @booking.end_date.to_s %><br />
</p>
<p><%= @island.description %></p>
</div>

<%= link_to "back", islands_path, class: 'btn btn-primary' %>