<h1><%= @island.name %></h1>

<div class="card-product">
  <img src="" />
    <div class="card-product-infos">
      <p>
        <strong>Price: </strong> $<%= @island.price %><br />
        <strong>Start date: </strong> <%= @booking.start_date.to_s %><br />
        <strong>End date: </strong> <%= @booking.end_date.to_s %><br />
        <strong>Island description</steong><%= @island.description %></p>
    </div>
</div>

<%= link_to "back", islands_path, class: 'btn btn-primary' %>
<%= link_to "see all your bookings", island_bookings_path, class: 'btn btn-primary' %>



